body {
	margin:  0px;
}
nav {
 	display:flex;
 	background-color: skyblue;
 	justify-content: space-between;
 	list-style-type: none;
 	flex-wrap: wrap;
 	
 }
#nav-list ul{
	display: flex;
	list-style-type: none;
	margin-right: : 10px;
}
#nav-list ul li{
	display: flex;
	color: white;
	padding-right: 20px;
	list-style-type: none;
	font-family: 'Sofia', cursive;
}
#logo{
	font-family: 'Sofia', cursive;
	justify-content: center
}

#icons li{
	display:flex;
 	list-style-type: none;
 	justify-content: space-around;
}

}
/* for responsive web design */
 @media screen and (max-width: 720px){
 	nav{
 		flex-direction: column;
 	}
 	#logo{
 		order: -1;
 	}